* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

.top {
    height: 120px;
    width: 0 auto;
    padding: 20px;
    background-color: rgb(194, 190, 190);
    box-sizing: border-box;
}

.innercube {
    height: 70px;
    width: 70px;
    background-color: rgb(96, 160, 172);
    
}


.text {
    height: 400px;
    width: 0 auto;
    margin: 40px 40px 20px 40px;
    padding: 50px;
}

h3 {
    text-align: left;
    color: rgb(56, 55, 55);
}

.stripe1 {
    height: 100px;
    width: 0 auto;
    background-color: rgb(96, 160, 172);
    bottom: 300px;
}

.stripe2 {
    height: 100px;
    width: 0 auto;
    background-color: rgb(80, 223, 168);
    bottom: 200px;
}

.stripe3 {
    height: 100px;
    width: 0 auto;
    background-color: rgb(195, 214, 87);
    bottom: 100px;
}

.stripe4 {
    height: 100px;
    width: 0 auto;
    background-color: rgba(236, 187, 61, 0.918);
    bottom: 0 auto;
}